.row{
    padding: 20px;
}
div{
    background-color: #4890dd;
    text-align: center;
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
    
}

/*foto de perfil*/
@media (min-width: 576px) {
        #fotodeperfil{
            position: absolute;
            width: 12%;
            box-shadow: 3px 3px 3px rgb(24, 24, 24);
            left: 5%;
            top: 98%;
            height: 28%;
        }
    
}

@media (max-width: 575px) {
    #fotodeperfil{
        position: absolute;
        width: 30%;
        box-shadow: 3px 3px 3px rgb(24,24,24);
        left: 0%;
        top: 1099%;
    }

}