<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
           <h2>Encriptador</h2>
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis repellendus quo similique libero, corrupti placeat cupiditate repellat velit doloribus earum laborum reprehenderit magni et illo mollitia rem itaque odit natus!</p>
           <h2>Ahorcado</h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, laborum mollitia, a rem, nisi esse voluptatibus ipsam labore facere sunt assumenda aspernatur tempore aliquid ipsum vitae officia. Ratione, suscipit perferendis!</p>
           <h2>Portfolio web</h2>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit optio quis, hic vel quasi incidunt distinctio autem maxime tenetur inventore, modi dignissimos praesentium labore veritatis dolorum quaerat laborum qui. Cumque.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/bart.png" class="img.fluid img-proyecto" >

        </div>

    </div>
</div>
